<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Login Form</title>
        <link type="text/css" rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <div class="login-page">
                    <form class="login-form" method="POST" action="/create">
                        <input type="text" name="name" placeholder="name"/>
                        <input type="text" name="cin" placeholder="cin"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="submit">create</button>
                        <p class="message">Already registered? <a href="login">Sign In</a></p>
                    </form>            
                </div>
            </div>
        </div>
    </body>
</html>